<!DOCTYPE html>
<html>
    <head>
        <title>RenderBookInfo</title>
    </head>
    <body>
        <div style="background-color: lightblue;">
        <h3> Book Information </h3>
        {% for book in books_info %}
            <p> Title: {{ book.title }} </p>
            <p> Author: {{ book.author }} </p>
            <p> DOP: {{ book.published_date }} </p>
            <p> Genre: {{ book.genre }} </p>
            <p> Price: {{ book.price }} </p>
        {% empty %}
        <p> No books available. </p>    
        {% endfor %}
        </div>
    </body>
</html>