{% extends 'base.html' %}

{% block title %} E-shop {% endblock %}

{% block body %}             
            <div>
                <img src="static/images/home-wall.png" alt="HomeWall" style="width:1990px; height:800px;">
            </div>  
            <br>
            <div>
                <h1>Our Products Collections</h1>
                <p>Explore our wide range of products across various categories including fashion, electronics, home decor, and more. Find the best deals and latest trends all in one place!</p>
            </div>
            
            
{% endblock %}
</html>